
body{
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
}

#container{
  width: 800px;
  margin: auto;
}

header > img{
  width: 150px;
}

header > span{
  color: white;
  font-size: 30px;
}

.unread-count{
  font-size: 30px;
  color:white;
}

.unread-count > span{
  background-color: orange;
  border-radius: 50%;
}

.email-container > .email{
  padding: 3px 0;
  border: 1px solid black;
}

.email{
  color: #cecece;
}

.email > span{
  color: black;
  font-weight: bold;
}



.read{
  background-color: #afacac;
}

.unread{
  background-color: #f4f4f4;
}



footer{
text-align: center;
color:#fff;
font-size: 30px;
font-style: oblique;
font-weight: bolder;
}
